<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }

            td {
                border: 1px black solid;
                padding: 5px;
            }
        </style>
    </head>
    <body>
      <a href="https://github.com/Maxouille64/pokepost" target="_blank" rel="noopener">Github</a> * <a href="https://discord.gg/XbuDP2T" target="_blank" rel="noopener">Discord</a> * <a href="https://lollyclub.glitch.me/" target="_blank" rel="noopener">Showdown! Server</a> * <a href="/" >Back to home</a>
        <br />
          <table>
          <thead>
            <tr>
              <th>0)url</th>
              <th>1)format</th>
              <th>2)date</th>
              <th>3)Author</th>
              <th>4)Title</th>
              <th>5)Notes</th>
              <th>6)team</th>
              <th>7)isprivate</th>
              <th>8)tags</th>
              <th>9)Paste</th>
            </tr>
          </thead>
          <tbody>
            {% for art in art %}
            <tr>
              <td>{{ art.Url }}</td>
              <td>{{ art.Format }}</td>
              <td>{{ art.Date }}</td>
              <td>{{ art.Author }}</td>
              <td>{{ art.Title }}</td>
              <td>{{ art.Note }}</td>
              <td>{{ art.Team }}</td>
              <td>{{ art.isPrivate }}</td>
              <td>{{ art.Tags }}</td>
              <td>{{ art.Paste }}</td>
            <form action="/raw/?paste={{ art.Paste }}" method="post"><td><button name="showpaste" type="submit">export</button></td></form>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </body>
</html>
