<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PS team DataBase">
    
    <title> {{title}}</title>
    
       <!-- import the webpage's stylesheet -->
    <link rel="shortcut icon" href="https://www.pokepedia.fr/images/4/4e/Miniature_Lettre_Avion_DP.png">
    <link rel="stylesheet" href="https://play.pokemonshowdown.com/style/sim-types.css">
    <link rel="stylesheet" href="https://play.pokemonshowdown.com/style/battle.css">
    <link rel="stylesheet" href="https://play.pokemonshowdown.com/style/utilichart.css">
    <link rel="stylesheet" href="https://play.pokemonshowdown.com/style/font-awesome.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="static/main.css" rel="stylesheet" type="text/css">
    <style>
      .dark-mode {
        background: #23272a;
        color: #eee;
      }
      .dark-mode a {
        color: #111;
      }
      .dark-mode button {
        background-color: #111;
        color: #111;
      }
      .light-mode {
        background-color: #eee;
        color: #111;
      }
      .light-mode a {
        color: #111;
      }
      .light-mode button {
        background-color: #eee;
        color: #111;
      }
      .loveball {
        list-style-image: url(https://play.pokemonshowdown.com/sprites/itemicons/love-ball.png)
      }
      .lunaball {
        list-style-image: url(https://play.pokemonshowdown.com/sprites/itemicons/moon-ball.png)
      }
      .light-mode input, textarea {

        background-color : #fff; 

      } 
      .dark-mode input, textarea {

        background-color : #d1d1d1; 

      }
    </style>
  </head>
  <body>
    <button onclick="nuit()" class="button" id="dark">Toggle Dark Mode</button> *
    <span onclick="popup()" class="username" id="login" style="color:#2f87a1;">login with PS!</span> * <span onclick="logout()" class="username" id="logout" style="color:#2f87a1;">logout</span>
    <p style="text-align: center ; color: #41b9e1"><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bienvenue les Poképotes</i><font style="color: #e1b941"><i>!</i></font>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://pastebin.com/CEC0QjBN" target="_blank" rel="noopener"># list</a>&nbsp;*&nbsp;
    <a href="result" rel="noopener">CSV</a>&nbsp;*&nbsp;
    <a href="upload" rel="noopener">New Team!</a></p>
    <div class="container">
    Press enter after you typed.
    <div class="tag-container">
    <input  />  
    </div>
    <p id="demo"></p>
      
    <ul id="myMenu" style="loveball">
    </ul>
    </div>
    <center>
      <a target="_blank" href="https://fulllifegames.com/Tools/SmogonDump/" class="button">MORE TEAMS</a>
    </center>

    <script src="https://unpkg.com/@pkmn/dex"></script>
    <script src="https://unpkg.com/@pkmn/sets"></script>
    <script type="text/javascript">
      function submitform(n) {document.getElementById(n).submit()} 
      
      function showpaste(pack)  {
            array = pack.split("]");
            array.filter(n => n)
            console.log("ARRAY");
            console.log(array);
            team = '';            
            for (x in array) {
                x = PokemonSets.unpack(array[x],Dex.forGen(8))
                x = PokemonSets.exportSet(x,Dex.forGen(8))
                console.log(x)
                team = team + x
              };
            console.log("== TEAM ==")
            console.log(team);
            team = "<pre>" + team + "</pre>"
            var tab = window.open('about:blank', '_blank');
            tab.document.write(team); // where 'team' is a variable containing your HTML
            tab.document.close();
            return
      }
      
      function nuit() {
        var body = document.body;
        var currentClass = body.className
        var newClass = body.className == 'dark-mode' ? 'light-mode' : 'dark-mode'
        body.className = newClass

        document.cookie = 'theme=' + (newClass == 'light-mode' ? 'light' : 'dark') + "; expires=Fri, 31 Dec 9999 23:59:59 GMT;"
        console.log('Cookies are now: ' + document.cookie)
      }
      
      function isDarkThemeSelected() {
        return document.cookie.match(/theme=dark/i) != null
      }
      
      function setThemeFromCookie() {
        var body = document.body;
        var point = document.getElementById("myMenu");
        body.className = isDarkThemeSelected() ? 'dark-mode' : 'light-mode';
        point.style = isDarkThemeSelected() ? 'list-style-image: url(https://play.pokemonshowdown.com/sprites/itemicons/moon-ball.png)' : 'list-style-image: url(https://play.pokemonshowdown.com/sprites/itemicons/love-ball.png)';
      }
      
      (function() {
        setThemeFromCookie()
      })();
      function logout() {
        document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        maxFresh();
      }
      function popup()
        {
          window.open('a','nom_de_ma_popup','menubar=no, scrollbars=no, top=100, left=100, width=300, height=200');
        }
      function maxFresh() {
        document.location.reload();
      }
      function getCookie(cname) {
      var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }
      var username = getCookie("username");
      var login = document.getElementById("login");
      if (username != "") {
        login.innerHTML = "logged as " + username + " <i class='fa fa-user' style='color:#779EC5'></i>";
        console.log("LOGGED AS -> " + username)
      } else {
        login.innerHTML = "LOGIN";
      }
    </script>
    <script src="static/main.pokepaste.js"></script>
  </body>
</html>
