<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <style>
            table {
                border-collapse: collapse;
                border: 2px black solid;
                font: 12px sans-serif;
            }

            td {
                border: 1px black solid;
                padding: 5px;
            }
        </style>
    </head>
    <body>
      <a href="https://github.com/Maxouille64/pokepost" target="_blank" rel="noopener">Github</a> * <a href="https://discord.gg/XbuDP2T" target="_blank" rel="noopener">Discord</a> * <a href="https://lollyclub.glitch.me/" target="_blank" rel="noopener">Showdown! Server</a> * <a href="/" >Back to home</a>
        <br />
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript" src="static/d3.min.js?v=3.2.8"></script>

        <script type="text/javascript" charset="utf-8">
          function getCookie(cname) {
            var name = cname + "=";
              var ca = document.cookie.split(';');
              for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                  c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                  return c.substring(name.length, c.length);
                }
              }
              return "";
          }
          if (getCookie("username") == "Maxouille") {
            d3.text("data", function(data) {
                var parsedCSV = d3.csv.parseRows(data);

                var container = d3.select("body")
                    .append("table")

                    .selectAll("tr")
                        .data(parsedCSV).enter()
                        .append("tr")

                    .selectAll("td")
                        .data(function(d) { return d; }).enter()
                        .append("td")
                        .text(function(d) { return d; });
            })};
        </script>
    </body>
</html>
