<li tags="|all|gen8|SS|ou|t04ster|t04ster|Kyurem|Terrakion|Garchomp|Magnezone|Regieleki|Dragonite|">
  <br>
    <table>
      <tr id="myTr35">
        <td style="background: rgba(102, 136, 170, 0.4) none repeat scroll 0% 0%;">
          <form id="pokepasteForm1" name="pokepasteForm1" style="display:inline" method="post" action="https://pokepast.es/create" target="_blank">
            <input type="hidden" name="title" id="pasteTitle">
            <input type="hidden" name="paste" id="pasteData" value="kyurem||choicespecs|pressure|icebeam,freezedry,dracometeor,focusblast|modest|,,,252,4,252|||||,,]terrakion||focussash|justified|stealthrock,taunt,closecombat,stoneedge|jolly|,252,4,,,252|||||,,]garchomp||lifeorb|roughskin|swordsdance,earthquake,stoneedge,scaleshot|jolly|,252,4,,,252|||||,,]magnezone||airballoon|magnetpull|irondefense,bodypress,thunderbolt,substitute|bold|,,252,116,,140|||||,,]regieleki||lightclay|transistor|reflect,lightscreen,rapidspin,explosion|adamant|96,252,,,,160|||||,,]dragonite||heavydutyboots|multiscale|dragondance,dualwingbeat,earthquake,extremespeed|jolly|,252,,,4,252|||||,,">
            <input type="hidden" name="author" id="pasteAuthor">
            <a  href="javascript: submitform('pokepasteForm1')"><i class="fa fa-upload"></i>
              <img style="margin-left: 2px;" src="https://play.pokemonshowdown.com/sprites/gen5/kyurem.png">
              <img style="margin-left: 2px;" src="https://play.pokemonshowdown.com/sprites/gen5/terrakion.png">
              <img style="margin-left: 2px;" src="https://play.pokemonshowdown.com/sprites/gen5/garchomp.png">
              <img style="margin-left: 2px;" src="https://play.pokemonshowdown.com/sprites/gen5/magnezone.png">
              <img style="margin-left: 2px;" src="https://play.pokemonshowdown.com/sprites/gen5/regieleki.png">
              <img style="margin-left: 2px;" src="https://play.pokemonshowdown.com/sprites/gen5/dragonite.png">
            </a>
          </form>
        </td>
      </tr>
      <tr id="yourTr35">
        <td style="text-align: left;">
          <b>[GEN8OU] dmag by t04ster</b>
          <div>Added the 2021-03-11 16:10:40.701796 by t04ster</div>
        </td>
      </tr>
  </table>
</li>

<form id="pokepasteForm2" style="display:inline" method="post" action="https://pokepast.es/create" target="_blank">
<input type="hidden" name="title" id="pasteTitle2">
<input type="hidden" name="paste" id="pasteData2" value="test">
<input type="hidden" name="author" id="pasteAuthor2">
<button name="pokepasteExport" type="submit" class="button exportbutton"><i class="fa fa-upload"></i> Upload to PokePaste</button></form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"> 
        function submitform(n) {
          //var value = document.getElementById(n).pasteData.getAttribute("value");
          //var paste = fastUnpackTeam(value);
          //document.getElementById(n).input.setAttribute("value", paste);
          document.getElementById(n).submit();  
        }
</script> 