<!DOCTYPE html>
<html>
   <center>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/style.css" />
    <title> {{title}}</title>
  </head>
  <body>
    <h1>
      UPLOAD
    </h1>
    <span onclick="popup()" class="username" id="login1" style="color:#2f87a1;">login wish PS!</span> * <span onclick="logout()" class="username" id="logout1" style="color:#2f87a1;">logout</span>
      <form action="/result" id="textform" method="post">
        <div id="gauche">
          <p>Pokepaste</p>
          <fieldset>
            <legend>Title</legend>
            <!-- GEN -->
            <select name="gen" id="gen-select">
            <option value="">-GEN-</option>
            <option value="gen8|SS" >SS</option>
            <option value="gen7|SM">SM</option>
            <option value="gen6|ORAS">ORAS</option>
            <option value="gen5|BW">BW</option>
            <option value="gen4|DPP">DPP</option>
            <option value="gen3|ADV">ADV</option>
            <option value="gen2|GSC">GSC</option>
            <option value="gen1|RBY">RBY</option>
            </select>
            <!-- TIER -->
            <select name="tier" id="tier-select">
            <option value="">-TIER-</option>
            <option value="ubers">UBERS</option>
            <option value="ou">OU</option>
            <option value="uu">UU</option>
            <option value="ru">RU</option>
            <option value="nu">NU</option>
            <option value="pu">PU</option>
            <option value="zu">ZU</option>
            <option value="nfe">NFE</option>
            <option value="lc">LC</option>
            <option value="Monotype">Mono</option>
            <option value="cap">CAP</option>
            </select>
            <!-- PASTE -->
            <input type="text" placeholder="ex: super cool team by me" name="title" />
          </fieldset>
          <br />
          <fieldset>
            <legend>logged as</legend>
            <div align="right"><input type="text" disabled="disabled" name="pseudo" value="{{username}}" /></div>
          </fieldset>
          <label class="checkbox" style="font-size: 15px" ><input type="checkbox" name="private" checked=""> <abbr title="100% SECURISEE">Publish inprivate</abbr></label>
          <br /><input type="submit" value="Submit" />
          <br /><div align="left"><small>nota bene</small></div>
        </div>
        <textarea class="textbox" rows="17" placeholder="paste goes here!" id="textbox" name="paste"></textarea>
      </form>      
    
    <script>
      function logout() 
        {
        document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        maxFresh();
        }  
      function popup()
        {
          window.open('a','nom_de_ma_popup','menubar=no, scrollbars=no, top=100, left=100, width=300, height=200');
        }
      function maxFresh() 
        {
        document.location.reload();
        }
    </script>
  </body>
  </center>
</html>
